@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "GmarketSans";
  src: url('../font/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "GmarketSans";
  src: url('../font/GmarketSansTTFMedium.ttf') format('truetype');
  font-family: 500;
}

@font-face {
  font-family: "GmarketSans";
  src: url('../font/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
}