/* 애니메이션 라이브러리 */
@keyframes fadeup{
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeleft{
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes faderight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navactive {
  0% {
    left: -280px;
  }

  50% {
    left: 0px;
  }

  75% {
    left: -50px;
  }

  100% {
    left: -25px;
  }
}

/* 애니메이션 라이브러리 클래스 */
.fadeup {
  animation: fadeup 0.5s ease-in-out forwards;
}

.fadeup_delay01 {
  animation: fadeup 0.5s 0.3s ease-in-out forwards;
}

.fadeup_delay02 {
  animation: fadeup 0.5s 0.4s ease-in-out forwards;
}

.fadeup_delay03 {
  animation: fadeup 0.5s 0.1s ease-in-out forwards;
}

.fadeup_delay04 {
  animation: fadeup 0.5s 0.2s ease-in-out forwards;
}

.fadeleft {
  animation: fadeleft 0.5s ease-in-out forwards;
}

.faderight {
  animation: faderight 0.5s 0.1s ease-in-out forwards;
}

.navactive {
  animation: navactive 0.7s ease-out forwards;
}