@media (max-width: 1270px) {
  #main {
    &.company_infomation {
      #sec01 {
        .text_box_frame {
          .text_box_wrap {
            .video_logo {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #header {
    .pc_header {
      display: none;
    }
    .mobile_header {
      display: block;
    }
  }

  #main {
    &.company_infomation {
      #sec01 {
        .text_box_frame {
          padding: 0 25px;
          .text_box_wrap {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            padding: 117.3px 0 137.39px;
            .video_logo {
              width: 24.35%;
              min-width: 175px;
              height: 86px;
              order: 2;
            }
            .text_box {
              width: 100%;
              border-top: 4px solid map-get($color, white-01);
              order: 1;
              .english_text {
                line-height: 36.8px;
                padding: 45.89px 0 26.34px;
                font-size: 27px;
              }
              .hangle_text {
                line-height: 23.565px;
                padding: 0 0 54.09px;
                font-size: 17.565px;
              }
            }
          }
        }
      }

      #sec02 {
        .attitude_frame {
          .attitude_wrap {
            padding: 0 0 80px;
            h3 {
              height: auto;
              line-height: 26.6px;
              padding: 100px 0 50px;
              border-bottom: 2px solid rgba(33, 33, 33, 0.5);
              font-size: 76px;
              text-align: left;
            }
            .attitude_list {
              flex-direction: column;
              margin-top: 26.325px;
              .attitude_item {
                width: 100%;
                padding: 0;
                .attitude_title_box {
                  padding: 20px 5px 15px;
                  border-bottom: 0;
                  .small_title {
                    font-size: 11px;
                    &::before {
                      bottom: 3px;
                    }
                  }
                  .attitude_title {
                    line-height: 49px;
                    font-size: 33px;
                    letter-spacing: -1px;
                  }
                }
                .attitude_desc_box {
                  padding: 0 20px 20px 0;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                  .attitude_desc {
                    padding: 0 5px;
                    font-size: 13px;
                  }
                }
                &:last-of-type {
                  .attitude_desc_box {
                    border-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }

      #sec03 {
        .works_frame {
          .works_wrap {
            padding: 107px 0 78.19px;
            .works_img_box {
              display: none;
            }
            .works_text_box {
              width: 100%;
              h3 {
                font-size: 80px;
              }
              p {
                font-size: 13px;
              }
              .works_item {
                padding: 10px 0;
                .works_title, .works_schedule {
                  font-size: 12px;
                }
                &:last-of-type {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }

      #sec04 {
        .partners_frame {
          .partners_wrap {
            padding: 117.3px 15px 416.38px;
            h3 {
              font-size: 80px;
            }
          }
        }
      }
    }

    &.project {
      padding-top: 84px;
      #sec02 {
        padding-top: 90px;
      }
      #sec03 {
        padding-top: 90px;
      }
      .project_title {
        padding: 20px 32px 10px;
        font-size: 26px;
      }
    }

    &.inquiry {
      padding-top: 48px;
      #sec01 {
        .mail_form_frame {
          .mail_form_wrap {
            padding: 100px 0;
            .mail_form_title_wrap {
              flex-direction: column;
              .title_box {
                width: 100%;
                p {
                  line-height: 48px;
                  font-size: 40px;
                }
              }
              .english_desc_box {
                margin-top: 50px;
              }
            }
            .mail_form {
              width: 100%;
              margin-left: 0;
            }
          }
          .project_inquiry_wrap {
            padding: 65px 0;
            .project_inquiry_list {
              flex-direction: column;
              .project_inquiry_item {
                .project_inquiry_title {
                  font-size: 26px;
                }
                .project_inquiry_desc {
                  line-height: 25px;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }

    &.motion {
      padding-top: 84px;
    }
  }
}

@media (max-width: 480px) {
  #header {
    .mobile_header {
      .mobile_header_bottom {
        .sub_menu_list li a {
          font-size: 10px;
          white-space: nowrap;
        }
      }
    }
  }

  #main {
    &.company_infomation {
      #sec02 {
        .attitude_frame {
          .attitude_wrap {
            h3 {
              height: auto;
              padding: 80px 0 50px;
              line-height: 26.6px;
              font-size: 42px;
              text-align: left;
            }
          }
        }
      }

      #sec03 {
        .works_frame {
          .works_wrap {
            padding: 80px 0 80px;
            .works_text_box {
              h3 {
                font-size: 60px;
              }
              .works_list {
                .works_item {
                  flex-direction: column;
                  .works_title {
                    display: block;
                    margin-right: auto;
                    font-size: 10px;
                  }
                  .works_schedule {
                    display: block;
                    margin-left: auto;
                    font-size: 10px;
                  }
                  &:last-of-type {
                    justify-self: flex-start;
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }

      #sec04 {
        .partners_frame {
          .partners_wrap {
            padding: 80px 0 330px;
            h3 {
              line-height: 70px;
              font-size: 60px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }

    &.project {
      #sec01 {
        padding-top: 0;
      }
      #sec02 {
        padding-top: 50px;
      }
      #sec03 {
        padding-top: 50px;
      }
    }

    &.inquiry {
      padding-top: 48px;
      #sec01 {
        .mail_form_frame {
          .mail_form_wrap {
            padding: 100px 0;
            .mail_form_title_wrap {
              flex-direction: column;
              .title_box {
                width: 100%;
                p {
                  line-height: 42px;
                  font-size: 34px;
                }
              }
              .english_desc_box {
                margin-top: 40px;
                p {
                  line-height: 26px;
                  font-size: 21px;
                }
              }
            }
          }
        }
      }
    }
  }

  #footer {
    .footer_inner {
      flex-direction: column;
      .company_info_wrap {
        width: 100%;
        .copyright_box {
          padding-bottom: 20px;
        }
      }
      .footer_nav_wrap {
        width: 100%;
        ul > li {
          padding: 3px 0;
          a {
            font-size: 13px;
          }
        }
      }
    }
  }
  
  .go_ask_frame {
    .go_ask_wrap {
      flex-direction: column;
      .go_ask_text {
        width: 100%;
        font-size: 30px;
      }
      .arrow_box {
        @include flex(center, flex-start);
        width: 100%;
      }
    }
  }
}