@media (max-width: 1270px) {
  #main {
    &.company_infomation {
      #sec01 {
        .text_box_frame {
          .text_box_wrap {
            .video_logo {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #header {
    .pc_header {
      display: none;
    }
    .mobile_header {
      display: flex;
    }
  }

  #main {
    &.company_infomation {
      #sec01 {
        .text_box_frame {
          padding: 0 25px;
          .text_box_wrap {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            padding: 117.3px 0 137.39px;
            .video_logo {
              width: 24.35%;
              height: 86px;
              order: 2;
            }
            .text_box {
              width: 100%;
              border-top: 4px solid map-get($color, white-01);
              order: 1;
              .english_text {
                line-height: 36.8px;
                padding: 45.89px 0 26.34px;
                font-size: 27px;
              }
              .hangle_text {
                line-height: 23.565px;
                padding: 0 0 54.09px;
                font-size: 17.565px;
              }
            }
          }
        }
      }

      #sec02 {
        .attitude_frame {
          .attitude_wrap {
            padding: 0 12.75px;
            h3 {
              height: auto;
              line-height: 26.6px;
              padding: 43.52px 0;
              font-size: 25px;
            }
            .attitude_list {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}