* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  &.fixed {
    overflow: hidden;
  }
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  vertical-align: top;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input, textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
}