* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  vertical-align: top;
}

a {
  display: block;
  text-decoration: none;
}

em {
  font-style: normal;
}