$color: (
  white-01: #ffffff,
  white-02: #f5f5f5,
  white-03: #f3f3f3,
  black-01: #212121,
  black-02: #000000,
  black-03: #111111,
  black-04: #363636,
  red-01: #fd4750,
  gray-01: #dfe8f0,
  gray-02: #e5e7eb
)