@import './variable.scss';
@import './font.scss';
@import './mixin.scss';
@import './reset.scss';
@import './common.scss';
@import './header.scss';
@import './footer.scss';
@import './keyframe.scss';

#main {
  &.company_infomation {
    #sec01 {
      position: relative;
      overflow: hidden;
      width: 100%;
      .video_wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 0;
        }
      }
      .img_wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        .main_image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &.inactive {
          display: none;
        }
      }
      .text_box_frame {
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        padding: 85px 15px 0;
        z-index: 2;
        .text_box_wrap {
          @include flex(flex-start, space-between);
          padding: 230px 0 222px;
          .video_logo {
            position: relative;
            width: 41.67%;
            height: 130px;
            padding: 0 12.05px;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              width: 100%;
              height: 100%;
              background-color: transparent;
              transition: 0.3s ease-out 0.5s;
            }
            img {
              width: 100%;
            }
            &.active {
              &::after {
                width: 0;
              }
            }
          }
          .text_box {
            width: 50%;
            border-top: 3px solid map-get($color, white-01);
            opacity: 0;
            .hangle_text {
              line-height: 36px;
              padding: 73px 0 42px;
              font-family: "GmarketSans";
              font-size: 30px;
              font-weight: 400;
              color: map-get($color, white-01);
            }
          }
          .english_text {
            line-height: 63.25px;
            font-family: "Changa", sans-serif;
            font-size: 55px;
            font-weight: 400;
            color: map-get($color, white-01);
          }
        }
      }
    }
  
    #sec02 {
      background-color: map-get($color, gray-01);
      .attitude_frame {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 15px;
        .attitude_wrap {
          padding: 146px 0 116px;
          h3 {
            height: 144px;
            line-height: 136px;
            border-bottom: 2px solid map-get($color, black-01);
            font-family: "Changa", sans-serif;
            font-size: 48px;
            font-weight: 400;
            text-align: center;
            color: map-get($color, black-01);
            letter-spacing: -1px;
            opacity: 0;
          }
          .attitude_list {
            @include flex(flex-start, flex-start);
            margin-top: 31px;
            .attitude_item {
              flex: 1;
              padding: 8px 8px 0 8px;
              opacity: 0;
              .attitude_title_box {
                @include flex(flex-start, flex-start);
                flex-direction: column;
                padding: 15px 5px 23px 5px;
                border-bottom: 1px solid rgb(0, 0, 0, 0.15);
                .small_title {
                  position: relative;
                  line-height: 11.5px;
                  padding-left: 10.84px;
                  font-family: "GmarketSans";
                  font-size: 15px;
                  font-weight: 400;
                  color: map-get($color, black-01);
                  &::before {
                    content: '';
                    position: absolute;
                    bottom: 1px;
                    left: 0px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: map-get($color, red-01);
                  }
                }
                .attitude_title {
                  line-height: 56px;
                  font-family: "Changa", sans-serif;
                  font-size: 40px;
                  font-weight: 400;
                  color: map-get($color, black-01);
                }
              }
              .attitude_desc_box {
                padding: 18px 8px 30px 8px;
                .attitude_desc {
                  line-height: 24px;
                  padding: 15px 25px 15px 5px;
                  font-family: "GmarketSans";
                  font-size: 14px;
                  font-weight: 400;
                  color: map-get($color, black-01);
                }
              }
            }
          }
        }
      }
      .top_box_wrap {
        padding: 8px;
      }
    }
  
    #sec03 {
      .works_frame {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 15px;
        .works_wrap {
          @include flex(flex-start, space-between);
          padding: 126px 0 92px;
          .works_img_box {
            position: relative;
            width: 41.67%;
            height: 1158px;
            padding-top: 24px;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              width: 100%;
              height: 100%;
              background-color: map-get($color, white-01);
              transition: 0.3s ease-out;
            }
            img {
              width: 100%;
              height: 100%;
            }
            &.active {
              &::after {
                width: 0;
              }
            }
          }
          .works_text_box {
            width: 50%;
            opacity: 0;
            h3 {
              font-family: "Changa", sans-serif;
              line-height: 103.5px;
              font-size: 90px;
              font-weight: 400;
              color: map-get($color, black-01);
              letter-spacing: -2px;
            }
            p {
              line-height: 22.4px;
              padding: 21px 0 35px;
              border-bottom: 2px solid map-get($color, black-03);
              font-family: "GmarketSans";
              font-size: 14px;
              font-weight: 400;
              color: map-get($color, black-01);
            }
            .works_item {
              @include flex(center, space-between);
              padding: 15px 0;
              border-bottom: 2px solid map-get($color, black-03);
              .works_title, .works_schedule {
                line-height: 16px;
                font-family: "GmarketSans";
                font-size: 16px;
                font-weight: 400;
                color: map-get($color, black-01);
              }
              &:last-of-type {
                line-height: 14px;
                border-bottom: 0;
                font-family: "GmarketSans";
                font-size: 14px;
                font-weight: 300;
                color: map-get($color, black-01);
              }
            }
          }
        }
      }
    }
  
    #sec04 {
      background: url('../img/partners-bg.jpg') repeat center;
      .partners_frame {
        position: relative;
        padding: 0 15px;
        .partners_wrap {
          max-width: 1280px;
          margin: 0 auto;
          padding: 138px 0 407px;
          h3 {
            line-height: 105.6px;
            padding: 15px 0;
            font-family: "Changa", sans-serif;
            font-size: 96px;
            font-weight: 400;
            color: map-get($color, black-01);
            letter-spacing: -2px;
            opacity: 0;
          }
          p {
            line-height: 22.4px;
            padding: 15px 0;
            font-family: "GmarketSans";
            font-size: 14px;
            font-weight: 400;
            opacity: 0;
          }
        }
        .partners-logo-frame {
          position: absolute;
          top: 55%;
          left: 0;
          width: 100%;
          .partners-logo-wrap {
            @include flex(center, flex-start);
            transition-timing-function: linear;
            .swiper-slide {
              max-width: 260px;
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }

  &.project {
    padding-top: 123.56px;
    #sec01 {
      padding-top: 23.72px;
      .project_title {
        @extend .project_title;
        padding: 20px 32px 10px;
      }
      .ui_ux_design_wrap {
        li {
          margin-bottom: 20px;
          &:last-of-type {
            margin-bottom: 0;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    #sec02 {
      padding-top: 93.72px;
      .project_title {
        padding: 20px 0 10px
      }
      .e_commerce_maintenance_wrap {
        li {
          margin-bottom: 20px;
          &:last-of-type {
            margin-bottom: 0;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    #sec03 {
      padding-top: 93.72px;
      .project_title {
        padding: 20px 0 10px
      }
      .t_commerce_maintenance_wrap {
        li {
          margin-bottom: 20px;
          &:last-of-type {
            margin-bottom: 0;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  
  &.inquiry {
    padding-top: 85px;
    #sec01 {
      background-color: map-get($color, red-01);
      color: map-get($color, white-01);
      .mail_form_frame {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 15px;
        .mail_form_wrap {
          padding: 117px 0 124px;
          border-bottom: 3px solid map-get($color, white-01);
          .mail_form_title_wrap {
            @include flex(flex-start, flex-start);
            margin-bottom: 30px;
            .title_box {
              width: 41.67%;
              p {
                line-height: 78px;
                padding-top: 20px;
                font-family: "GmarketSans";
                font-size: 55px;
                font-weight: 700;
                letter-spacing: -1px;
              }
            }
            .english_desc_box {
              flex-grow: 1;
              margin-top: auto;
              p {
                padding-bottom: 12.41px;
                line-height: 28.8px;
                font-family: "Changa", sans-serif;
                font-size: 24px;
                font-weight: 400;
              }
            }
          }
          .mail_form {
            width: 58.33%;
            margin-left: auto;
            .name_box, .contact_box, .content_box {
              @include flex(flex-start, flex-start);
              flex-direction: column;
              label {
                margin-bottom: 5px;
                line-height: 24px;
                font-family: "GmarketSans";
                font-size: 15px;
                font-weight: 400;
              }

              input, textarea {
                width: 100%;
                margin-bottom: 15px;
                padding: 7.5px 12px;
                border: 1px solid map-get($color, white-01);
                font-family: "GmarketSans";
                font-size: 15px;
                color: map-get($color, white-01);
                caret-color: map-get($color, white-01);
              }

              textarea {
                line-height: 1.4285714;
              }
            }

            button {
              display: block;
              line-height: 17.1429px;
              margin-left: auto;
              padding: 11px 20px;
              background-color: map-get($color, black-04);
              font-family: "Montserrat", serif;
              font-size: 12px;
              font-weight: 600;
              color: map-get($color, white-01);
              letter-spacing: 1px;
            }
          }
        }
        .project_inquiry_wrap {
          padding: 79px 0 57px;
          .project_inquiry_list {
            @include flex(flex-start, flex-start);
            .project_inquiry_item {
              @include flex(flex-start, flex-start);
              flex-direction: column;
              flex: 1;
              padding: 10px 0 30px;
              .project_inquiry_title {
                line-height: 38.574px;
                font-family: "GmarketSans";
                font-size: 32.145px;
                font-weight: 700;
              }
              .project_inquiry_desc {
                line-height: 39.2px;
                font-family: "Changa", sans-serif;
                font-size: 26px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    #sec02 {
      .google_map {
        height: 465px;
        .company_title {
          font-size: 15px;
        }
      }
    }
  }

  &.motion {
    padding-top: 123.56px;
    #sec01 {
      padding-top: 23.72px;
      .motion_title {
        @extend .project_title;
        padding: 20px 32px 10px;
      }
      .lottie_frame {
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 15px 100px;
        .lottie_list {
          padding-top: 50px;
          .lottie_item {
            @include flex(center, space-between);
            margin-bottom: 150px;
            // .lottie {
            //   opacity: 0;
            // }
            .lottie_text_wrap {
              @include flex(center, center);
              width: 45%;
              p {
                position: relative;
                font-family: "GmarketSans";
                em {
                  display: block;
                  margin-bottom: 10px;
                  font-size: clamp(16px, 2.6vw, 26px);
                  white-space: nowrap;
                }
                span {
                  font-size: clamp(14px, 1.8vw, 18px);
                  color: map-get($color, gray-05);
                  white-space: nowrap;
                }
                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 100%;
                  height: 100%;
                  background-color: map-get($color, white-01);
                  transition: 0.3s ease-out;
                }
                &.active {
                  &::after {
                    width: 0;
                  }
                }
              }
            }
            .lottie_wrap {
              @include flex(center, center);
              width: 45%;
              .lottie {
                @include flex(center, center);
                position: relative;
                max-width: 100%;
                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  right: var(--lottie-after-right, 0); // 기본값은 0
                  width: 100%;
                  height: 100%;
                  background-color: map-get($color, white-01);
                  transition: 0.3s ease-out;
                }
                &.active {
                  &::after {
                    width: 0;
                  }
                }
                
              }
            }

            // &:nth-child(2n-1) {
            //   margin-left: 52.5%;
            // }
            a img {
              width: 100%;
            }
          }
        }
        .senter_line {
          position: absolute;
          top: 0;
          left: 50%;
          width: 2px;
          height: 100%;
          background-color: map-get($color, gray-01);
          transform: translateX(-50%);
        }
      }
    }
  }
}

@import './media.scss';